<div class = "container-fluid">

   <div class="row">

<div class=s="col-md-6">
    <h1 class="logo">MTAPPDATR</h1>
  <li class="sign-in"><%= link_to "Log in with Twitter", "/auth/twitter" %></li>
  </div>
</div>

  <!-- SUBWAY MOVING -->


<div id="animatedImage" style="position:fixed;padding-top:700px;z-index:99;left:1px;bottom:300px;">

<!-- <img id="img1" src="http://i.imgur.com/bPGhExP.png" alt="animatedImage" style="height: 190px" />

 <img id="img1" src="http://i.imgur.com/bPGhExP.png" alt="animatedImage" style="height: 190px" /> -->

 <img id="img1" src="http://i.imgur.com/bPGhExP.png" alt="animatedImage" style="height: 190px" />
</div>

<script>

var distanceBall=0; 
var directionBall=1; 
document.getElementById('animatedImage').style.top = 10;
document.getElementById('animatedImage').style.left = 10;
var timerToggle=null; 
animateBall();
var setting = 0;          

  function animateBall() {   
  document.getElementById("animatedImage").style.left=distanceBall + "px";
  
  distanceBall+=directionBall;

  if (distanceBall>window.screen.width -1) { 
  document.getElementById('animatedImage').style.top = 10;
  document.getElementById('animatedImage').style.left = 10;
  directionBall = -1;
  document.getElementById('img1').className = 'left';
  }

  if (distanceBall<0) {
  directionBall = 1;
  document.getElementById('img1').className = 'right';
  }

  timerToggle=setTimeout(function() { animateBall(); }, 23);
  }
</script>

</div>
